*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Mukta Malar", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    /* background: rgb(9,94,15);
    background: linear-gradient(302deg, rgba(9,94,15,1) 0%, rgba(9,68,121,1) 51%, rgba(1,10,43,1) 100%); */
    color: #f1f2f6;
}

header{
    display: inline-block;
    /* background: rgb(2,5,15); */
    /* background: linear-gradient(138deg, rgba(2,5,15,1) 0%, rgba(10,33,61,0.9304096638655462) 78%, rgba(20,57,16,0.8603816526610644) 100%); */
}

.header-oscuro{
    color: #f1f2f6;
    background: linear-gradient(297deg, rgba(44,102,51,1) 0%, rgba(4,25,46,1) 29%, rgba(0,3,8,1) 100%);
    /* background: linear-gradient(138deg, rgba(2,5,15,1) 0%, rgba(10,33,61,0.9304096638655462) 78%, rgba(20,57,16,0.8603816526610644) 100%); */
}

.header-claro{
    color: #000000;
    background: linear-gradient(149deg, rgba(255,255,255,1) 26%, rgba(218,240,242,1) 63%, rgba(30,170,237,0.7035189075630253) 100%);
}

.barra-navegacion{
    display: flex;
    padding: 1.8rem 1.8rem 0 1.8rem;
    justify-content: space-between;
    align-items: center;
}

.logo-teching{
    transition: all ease-in-out .5s;
    filter: drop-shadow(1px 1px 1px #f8f3f3);
    /* opacity: 0; */
    position: relative;
    /* left: 35px; */
    margin-left: 50px;
    transform: scale(110%);
}

.lista-menu{
    display: flex;
    gap: 1.6rem;
    list-style: none;
}

.elemento-lista-menu{
    padding: 0 .4rem;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-bottom: solid 1.5px transparent;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.elemento-lista-menu:hover{
    transition: all ease-in-out .3s;
    transform: translateY(4px);
}

.elemento-lista-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #2272ff;
    transition: width 0.3s ease-in-out;
}

.elemento-lista-menu:hover::after {
    width: 100%;
}

/* main{
    margin-top: 104px;
} */

.mensaje-inicial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0px;
}

.mensaje-inicial-imagen-texto{
    display: flex;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .8rem;
    border-radius: 8px;
}

.mensaje-inicial-imagen-texto-claro{
    background: rgba(255, 255, 255, 0.8);
}

.mensaje-inicial-imagen-texto-oscuro{
    background: rgba(0, 0, 0, 0.25);
}

.figure-imagen-fondo{
    display: flex;
    align-items: center;
    width: 40%;
}

.imagen-fondo{
    width: 100%;
    min-height: 380px;
    transform: scaleX(-1);
    border-radius: 1rem;
}

.contenedor-titulos{
    margin-bottom: 5rem;
}

.ti-catalogo-texto{
    font-family: "Nunito", sans-serif;
    font-size: 3.4rem;
    font-weight: 500;
    font-style: normal;
    background: rgb(25,91,171);
    background: linear-gradient(138deg, rgba(25,91,171,1) 13%, rgba(72,115,166,1) 46%, rgba(38,117,29,0.8603816526610644) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ti-catalogo-texto2{
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
}

.mensaje-inicial-parrafo{
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
}

.mensaje-inicial-texto{
    width: 60%;
    padding: 1.4em;
    text-align: justify;
}

/*Servicios*/

.texto-intermedio{
    display: grid;
    place-content: center;
    padding: 104px 0;
    width: 100%;
}

.texto-intermedio-oscuro{
    background-color: rgb(4, 8, 22);
    color: white;
}

.texto-intermedio-claro{
    background: rgba(255, 255, 255, 0.8);
    color: rgb(14, 12, 12);
}

.texto-intermedio-intro{
    padding: 0 1rem;
    text-align: center;
    font-size: 24px;
}

.tarjetas-categorias-servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 3.5rem;
}

.tarjeta{
    position: relative;
    cursor: pointer;
}

.tarjeta-imagen{
    display: block;
    width: 100%;
    height: auto;
}

.tarjeta-texto{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    transition: .5s ease;
}

.tarjeta-texto h2{
    padding: .8rem;
}

.tarjeta-texto p{
    padding: .8rem;
    text-align: justify;
    font-size: 1.2rem;
}

.tarjeta:hover .tarjeta-texto{
    height: 100%;
    overflow-y: auto;
}

/*Organizaciones*/

.organizaciones-servicios{
    width: 100%;
    padding: 104px 0;
    position: relative;
    overflow: hidden;
    color: white;
}

.organizaciones-servicios-oscuro{
    background-color: rgba(0, 0, 0, 1);
}

.organizaciones-servicios-claro{
    /* background-color: rgba(255, 255, 255, 1); */
    background: linear-gradient(48deg, rgba(142,222,255,1) 0%, rgba(225,240,241,1) 8%, rgba(255,255,255,1) 100%);



}

.organizaciones-servicios::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/images/imagen.png') no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    z-index: 1;
}

.organizaciones-servicios-titulo{
    font-size: xx-large;
    text-align: center;
    color: white;
}

.contenedor-opciones {
    position: relative; /* Permite que los botones estén encima de la imagen */
    z-index: 2; /* Asegura que los botones estén sobre la imagen */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem; /* Espacio entre los botones */
    cursor: pointer;
    margin: 4rem 0;
}

.btn-organizacion{
    width: 260px;
    height: min-content;
    padding: .4rem;
    border-radius: 6px;
    background: rgba(9, 20, 34, 0.7);
    transition: all ease 0.3s;
    font-size: 1.2;
    font-weight: bold;
}

.btn-organizacion:hover {
    background-color: rgb(31, 52, 83); /* Fondo un poco más claro al pasar el ratón */
}

.contenedor-organizacion-a-mostrar{
    font-size: 1.2rem;
    background: rgba(10, 10, 10, 1)
}


.circle {
    width: 220px;
    height: 220px;
    top: 13px;
    left: 230px;
    background-color: none;
    border: dotted #fff;
    border-radius: 50%; /* Hace que el div se vea como un círculo */
    animation: spin 2.2s linear infinite; /* Aplica la animación llamada "spin" */
}

/* Definición de la animación */
@keyframes spin {
    from {
        transform: rotate(0deg); /* Inicia la rotación desde 0 grados */
    }
    to {
        transform: rotate(360deg); /* Termina la rotación en 360 grados */
    }
}

/*rotate image*/

@media (max-width: 760px){

    .barra-navegacion{
        justify-content: center;
    }

    /* .ti-catalogo-texto{
        
    } */

    /* contenedor de imagen*/
    .contenedor-logo{
        display: flex;
        justify-content: center;
    }

    .logo-teching{

        margin: 35px 0 0 0;
    }

    /* opciones del menu */
    .lista-menu{
        display: none;
    }

    /* seccion de imagen y texto */
    .mensaje-inicial-imagen-texto{
        flex-direction: column;
        width: 96%;
    }
    
    .figure-imagen-fondo{
        width: 100%;
    }

    .imagen-fondo{
        height: auto;
    }

    .mensaje-inicial-texto{
        width: 100%;
    }

    .tarjetas-categorias-servicios{
        gap: 2.4rem;
    }
}