*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Mukta Malar", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: #2f3542;
    /* background: rgb(9,94,15);
    background: linear-gradient(302deg, rgba(9,94,15,1) 0%, rgba(9,68,121,1) 51%, rgba(1,10,43,1) 100%); */
    color: #f1f2f6;
}

header{
    display: inline-block;
    background: rgb(2,5,15);
    background: linear-gradient(138deg, rgba(2,5,15,1) 0%, rgba(10,33,61,0.9304096638655462) 78%, rgba(20,57,16,0.8603816526610644) 100%);
    /* background: rgb(0,6,31);
    background: linear-gradient(138deg, rgba(0,6,31,1) 0%, rgba(10,33,61,0.9304096638655462) 78%, rgba(20,57,16,0.8603816526610644) 100%); */
    /* background: rgb(12,38,13);
    background: linear-gradient(313deg, rgba(12,38,13,1) 15%, rgba(12,50,85,1) 30%, rgba(3,9,36,1) 75%); */
    /* background: rgb(0,6,31);
    background: linear-gradient(157deg, rgba(0,6,31,1) 0%, rgba(10,33,61,1) 60%, rgba(12,47,9,1) 100%); */

}

.barra-navegacion{
    display: flex;
    padding: 1.8rem 1.8rem 0 1.8rem;
    justify-content: space-between;
    align-items: center;
}

.logo-teching{
    transition: all ease-in-out .5s;
    filter: drop-shadow(2px 2px 2px #fff);
    opacity: 0;
    position: relative;
    left: 35px;
}

.lista-menu{
    display: flex;
    gap: 1.6rem;
    list-style: none;
}

.elemento-lista-menu{
    padding: 0 .4rem;
    cursor: pointer;
    border: none;
    border-bottom: solid 1.5px transparent;
    transition: color 0.2s ease-in-out;
    position: relative;
}

.elemento-lista-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #2272ff;
    transition: width 0.3s ease-in-out;
}

.elemento-lista-menu:hover::after {
    width: 100%;
}

main{
    margin-top: 104px;
}

.mensaje-inicial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0px;
}

.mensaje-inicial-imagen-texto{
    display: flex;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgba(0, 0, 0, 0.2);
    padding: .8rem;
}

figure{
    width: 40%;
}

.imagen-fondo{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    border-radius: 1rem;
}

.contenedor-titulos{
    margin-bottom: 5rem;
}

.ti-catalogo-texto{
    font-family: "Nunito", sans-serif;
    font-size: 3.4rem;
    font-weight: 500;
    font-style: normal;
}

.ti-catalogo-texto2{
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
}

.mensaje-inicial-parrafo{
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
}

.mensaje-inicial-texto{
    width: 60%;
    padding: 1.4em;
    text-align: justify;
}

.texto-intermedio{
    display: grid;
    place-content: center;
    margin-top: 104px;
    width: 100%;

}

.texto-intermedio p{
    padding: 0 1rem;
    text-align: center;
    font-size: 24px;
}

.tarjetas-categorias-servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 3.5rem;
}

.tarjeta{
    display: flex;
    border: solid 1px black;
    flex-direction: column;
}

/* .tarjeta-imagen{
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    width: 100%;;
} */

.tarjeta-imagen{
    width: 50%;
}

.tarjeta h2{
    margin-top: .4rem;
    text-align: center;
}

.tarjeta p{
    font-size: large;
    text-align: justify;
}

/*rotate image*/

@media (max-width: 760px){
    /* contenedor de imagen*/
    figure{
        display: flex;
        justify-content: center;
    }

    /* opciones del menu */
    .lista-menu{
        display: none;
    }

    /* seccion de imagen y texto */
    .mensaje-inicial-imagen-texto{
        flex-direction: column;
        width: 96%;
    }
    
    .figure-imagen-fondo{
        width: 100%;
    }

    .mensaje-inicial-texto{
        width: 100%;
    }
}